<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { linkCss: 'css/admin.css' , title: 'admin' }) %>
<body>
    
<!-- A função include importa um trecho de código de outro arquivo
include(caminho do arquivo que eu quero importar o bloco de código)  -->
<%- include('includes/header' , {carrinhoProduts: carrinhoProdutos}) %>
    <% if (typeof errors !== 'undefined') { %>
        <% for(let error in errors) { %>
            <script >
                toastr.options.progressBar = true;
                toastr.options.closeButton = true;
                toastr.error('<%= errors[error].msg %>')
            </script>
          <% } %>
      <% } %>
        
           

    <form class="form" action="/product" method="post">  

        <div class="product"> 
            <div>
                <label  for="text">Nome</label>  
                <input type="text" name="nome">
            </div>

            <div>
                <label  for="text">Valor</label>  
                <input type="text" name="valor">
            </div>

            <div>
                <label  for="text">Tamanho</label>  
                <input type="text" name="tamanho">
            </div>

            <div>
                <label  for="text">Descrição</label>  
                <input type="text" name="descricao">
            </div>

            <div>
                <label  for="text">Cor </label>  
                <input type="text" name="cor">
            </div>
            <div>
                <label  for="text">Imagem </label>  
                <input type="file" name="imagem_1">
            </div>
            <div>
                <label  for="text">Imagem </label>  
                <input type="file" name="imagem_2">
            </div>
            <div>
                <label  for="text">Imagem </label>  
                <input type="file" name="imagem_3">
            </div>
            <div>
                <label  for="text">Categoria</label>  
                <input type="text" name="id_categoria">
            </div>
            <div>
                <label  for="text">Codigo do produto</label>  
                <input type="text" name="codigo_produto">
            </div>

            <button type="submit">Enviar</button>


            <!-- <div>
                <label  for="text">Imagem</label>  
                <input type="text" name="imagemProduto" required>
            </div> -->
        </div>

    </form>

    <div class="container">
        <% if (typeof produto !== 'undefined') { %>
         
             <% produto.forEach((item) => { %>
                <div class="produto">
                    
                    
                    <p> <%= item.nome %> </p>
                    <p><%= item.valor %> </p>
                    <p><%= item.tamanho %> </p>
                    <p><%= item.cor %> </p>
                    <p><%= item.descricao %> </p>
                    <p><%= item.imagem_1 %> </p>
                    <p><%= item.imagem_2 %> </p>
                    <p><%= item.imagem_3 %> </p>
                    
                    <form action="/admin/delete/<%= item.id %>" method="POST">
                        <button type="submit" >Remover Produto</button>
                    </form>
                    <a href="/edit/<%= item.id %>">editar produto</a>

                 
                </div>
           <% }) %> 
    
           <% } %>
        </div>
     
    
    <%- include('includes/footer') %>
  
</body>
</html>