<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head', { linkCss: 'css/home.css' , title: 'Home page' }) %>

    <body>


        <% if (typeof usuario !== 'undefined') { %>
            <%- include('includes/header' , {carrinhoProduts: carrinhoProdutos, usuario}) %>
        <% } else { %>
            <%- include('includes/header' , {carrinhoProduts: carrinhoProdutos}) %>
        <% } %>
            <main>
                <img class="img-home" src="images/newCapaHome.jpg" alt="capahome">
            </main>

            <h3>NOVIDADES</h3>

            <div class="container">
            <% if (typeof allProducts !== 'undefined') { %>
                <% allProducts.forEach(item=> { %>
                    <div class="produto">
                        <% if (item.imagem_1) { %>
                            <img src="<%= item.imagem_1 %>" alt="produto">
                        <% } %>
                        <p>
                            <%= item.nome %>
                        </p>
                        <p>
                            R$ <%= item.valor %>
                        </p>
                        <div>

                            <a href="/detals/<%= item.id %>">
                                <button> Comprar </button>
                            </a>

                        </div>
                    </div>

                   

                    <%})%>
                <% } %>

            </div>

          

            <%- include('includes/footer') %>

    </body>

    
</html>