<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { linkCss: 'css/login.css' , title: 'Login' }) %>
<body>
    
<!-- A função include importa um trecho de código de outro arquivo
include(caminho do arquivo que eu quero importar o bloco de código)  -->
    <%- include('includes/header') %>
    <div class="conecte font-padrao">
        <h1 class="style">CONECTE-SE AQUI</h1>
    </div> 

    <div class="display-flex">
        <% if (typeof errors !== 'undefined') { %>
            <% for(let error in errors) { %>
                <script>
                    toastr.options.progressBar = true;
                    toastr.options.closeButton = true;
                    toastr.error('<%= errors[error].msg %>')

                </script>
              <% } %>
          <% } else if(typeof sucess !== 'undefined') { %>
            <% for(let x in sucess) { %>
                <script>
                    toastr.options.progressBar = true;
                    toastr.options.closeButton = true;
                    toastr.success('<%= sucess[x].msg %>')

                </script>
                <% } %>
            <% } %>
        
        <!-- Login -->
        <div class="width-30">
            <form action="/logar" method="post">
                <p class="login">Faça login</p>
    
                <div class="inputs">  
                     <label  for="email">E-mail</label>  
                     <input type="email" name="email" required minlength="8">
                     <p class="mensagem" id="email-aviso">Campo e-mail obrigatório</p>   
                 </div>
             
                 <div class="inputs">  
                     <label for="senha">Senha</label>
                     <input type="password" name="senha" minlength="8" required>
                     <p class="mensagem" id="senha-aviso">Campo senha obrigatório</p>    
                 </div>
    
                 <div class="inputs">
                    <button type="submit" class="buttom-black">Entrar</button>
                    <a href="../recuperar-senha/recuperar-senha.html">Esqueceu sua senha?</a>
                    <button class="buttom-facebook">
                        <img src="/images/facebook.png" alt="" class="fb-image">
                        Entrar com Facebook
                    </button>

            </form>
           

             </div>
        </div>
       
        <!-- Criar conta -->
        <div class="width-30">
            <form action="/criarconta" method="post">
                <p class="login">Criar conta</p>

                <div class="input-line">
                    <div class="inputs">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome">
                        <p class="mensagem" id="nome-aviso">Campo nome obrigatório</p>
                    </div>
            
                    <div class="inputs">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" name="sobrenome">
                        <p class="mensagem" id="sobrenome-aviso">Campo sobrenome obrigatório</p>
                    </div>

                </div>
                
        
                <div class="inputs">  
                    <label for="email">E-mail</label>  
                    <input type="email" name="email">
                    <p class="mensagem" id="logar-aviso">Campo email obrigatório</p>
                </div>

                <div class="inputs">  
                    <label for="endereço">Rua</label>  
                    <input type="text" name="endereço">
                    <p class="mensagem" id="logar-aviso">Campo rua obrigatório</p>
                </div>

                <div class="inputs">  
                    <label for="numero">Numero</label>  
                    <input type="text" name="numero">
                    <p class="mensagem" id="logar-aviso">Campo número obrigatório</p>
                </div>

                <!-- <div class="inputs">  
                    <label for="cep">CEP</label>  
                    <input type="text" name="cep">
                    <p class="mensagem" id="logar-aviso">Campo CEP obrigatório</p>
                </div> -->
        
                <div class="input-line">
                    <div class="inputs">  
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" minlength="8" required> 
                        <p class="mensagem" id="entrar-aviso">Campo senha obrigatório</p>

                    </div>
            
                    <div class="inputs">  
                        <label for="confirmarsenha">Confirmar senha</label>
                        <input type="password" name="confirmarsenha" minlength="8" required> 
                        <p class="mensagem" id="confirma-aviso">Campo confirmar senha obrigatório</p>   
                    </div>

                </div>
                
                <button type="submit" class="buttom-black">Cadastrar</button>
                
            </form>
        </div>
    </div>


    
    
    <%- include('includes/footer') %>
    <script type="text/javascript" src="./login.js"></script>
  
</body>
</html>