<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../publico/global.css">
    <link rel="stylesheet" href="./skate.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e8ac9f753c.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>
<body> 
    <header>


     <div class="menu-1">
        <ul>
            <li>
               <a href="../tênis/tenis.html">Tênis</a>
            </li>
            <li>
                <a href="../roupas/roupas.html">Roupas</a>
            </li>
            <li>
                <a href="../skate/skate.html">Skate</a>
            </li>
        </ul>  
    </div>
    
    <a href="../../index.html">
        <img class="aviao-img menu-2" src="../publico/imagens/Jet skateshop 2.png" alt="imagem  aviao">
    </a>

    
    <div class="menu-3">

        <div class="pesquisar">
            <i class="fa-solid fa-magnifying-glass destaque"></i>
            <input class="input-pesquisar">
        </div>

        <a href="../carrinho/carrinho.html">
            <div class="carrinho">
            <i class="fa-solid fa-cart-shopping destaque"></i>        
            </div>
        </a>

        <a href="../login/login.html">

            <i class="fa-solid fa-user destaque"></i>

        </a>
        
        
        
    </div>


    </header>

    <div class="main">
        
        <div class="filter">
            <p><%= filterMedidas %></p>
            <div class="input2">
                
                <p><%= Item1 %></p>
                <label class="input-tamanho">
                    <input type="checkbox">7.75/8.0
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.125
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.25
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">8.5
                </label>
                <p><% = Item2 %></p>
                <label class="input-tamanho">
                    <input type="checkbox">1.29 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">1.39 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">1.49 MM
                </label>
                <p><%= Item3 %></p>
                <label class="input-tamanho">
                    <input type="checkbox">50 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">51 MM
                </label>
                <label class="input-tamanho">
                    <input type="checkbox">52 MM
                </label>

                <label class="input-tamanho">
                    <input type="checkbox">53 MM
                </label>

                <label class="input-tamanho">
                    <input type="checkbox">54 MM
                </label>

            <button class="limpar"><%= buttonLabel %></button>
            </div>
        </div>

        
        <div class="produtos">
            <h1><%= Item1 %></h1>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/blvr1-removebg-preview.png" alt="blvr1">
                <p><%= titleItem1 %></p> 
                <p><%= valueItem1 %></p> 
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button> //Comprar
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/blvr2-removebg-preview.png" alt="blvr2">
                <p><%= titleItem1 %></p>
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>    
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/blvr3-removebg-preview.png" alt="blvr3">
                <p><%= titleItem1 %></p>
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/blv4-removebg-preview.png" alt="blvr4">
                <p><%= titleItem1 %></p>
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/creature1-removebg-preview.png" alt="creatuer1">
                <p><%= titleItem2 %></p> 
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/dgk1-removebg-preview.png" alt="dgk1">
                <p><%= titleItem3 %></p> 
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/shapePrimitive2-removebg-preview.png" alt="primitiv1">
                <p><%= titleItem4 %></p> 
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/thumb-removebg-preview.png" alt="girl 0">
                <p><%= titleItem5 %></p> 
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/thumb__1_-removebg-preview.png" alt="girl 1">
                <p><%= titleItem6 %></p> 
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/thumb__2_-removebg-preview.png" alt="girl 2">
                <p><%=titleItem7 %></p> 
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
            <div class="destaque2">
                <img src="../publico/Skate - Shapes/thumb__3_-removebg-preview.png" alt="girl 3">
                <p><%= titleItem7 %></p>
                <p><%= valueItem1 %></p>
                <div class="comprar-adicionar">
                    <button><%= buttonLabel2 %></button>
                </div>
            </div>
           
            <h1><%= Item2 %></h1>
                <div class="truck">
                    <img src="../publico/Skate - Trucks/ind1-removebg-preview.png" alt="ind">
                    <p><%= titleItem8 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="truck">
                    <img src="../publico/Skate - Trucks/ind3-removebg-preview.png" alt="ind2">
                    <p><%= titleItem8 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="truck">
                    <img src="../publico/Skate - Trucks/venture1-removebg-preview.png" alt="venture1">
                    <p><%= titleItem9 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <h1><%= Item3 %></h1>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones1.png" alt="bones1">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones2.png" alt="bones2">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones3-removebg-preview.png" alt="bones3">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones4.png" alt="bones4">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones5.png" alt="bones5">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones6.png" alt="bones6">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones7-removebg-preview.png" alt="bones7">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones8.png" alt="bones8">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones9.png" alt="bones9">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones10-removebg-preview.png" alt="bones10">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/bones11-removebg-preview.png" alt="bones11">
                    <p><%= titleItem10 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/ricta1.png" alt="ricta1">
                    <p><%= titleItem11 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/ricta2.png" alt="ricta2">
                    <p><%= titleItem11 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/ricta3.png" alt="ricta3">
                    <p><%= titleItem11 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/spit_fire2-removebg-preview.png" alt="spitfire2">
                    <p><%= titleItem12 %></p> 
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/spit_fire_1-removebg-preview.png" alt="spitfire1">
                    <p><%= titleItem12 %></p>
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/spit_fire3-removebg-preview.png" alt="spitfire3">
                    <p><%= titleItem12 %></p>
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
                <div class="rodas">
                    <img src="../publico/Skate - Rodas/element1.png" alt="element1">
                    <p><%= titleItem13 %></p>
                    <p><%= valueItem1 %></p>
                    <div>
                        <button><%= buttonLabel2 %></button>
                    </div>
                </div>
            

        </div>

    </div>
<footer class="footer-menu">
        <div class="box-contatos">

            <p class="align-contato font-padrao">
                Contatos:
            </p>

            <div class="espaco-contatos">

                <p class="margin-contatos alinhamento-contatos font-padrao">
                    <img  class="footer-imagem1" src="../publico/imagens/instagram.png"  alt="instagram">
                    @JetSkateShop
                </p>

                
                <p class="alinhamento-contatos font-padrao">
                    <img  class="footer-imagem1 alinhamento-contatos"  src="../publico/imagens/facebook.png"  alt="facebook">
                    @JetSkateShop
                    </p>
                
            </div>

            <div class="espaco-contatos">
                <p class="margin-contatos alinhamento-contatos font-padrao">
                        <img  class="footer-imagem1"  src="../publico/imagens/email.png"  alt="mensagem">
                    jetskateshop@gmail.com

                    </p> 

                    <p class="alinhamento-contatos font-padrao">
                    <img  class="footer-imagem1"  src="../publico/imagens/whats.png"  alt="whatsapp">
                    (11) 9999-9999
                    </p>
            </div>
        </div>

        <div class="box-pagamentos">
            
            <p class="font-padrao">
                Formas De Pagamentos
            </p>

            <div class="margin-box-pagamentos">
                <img class="footer-imagens" src="../publico/imagens/mastercard (1).png " alt="mastercard">
                <img class="footer-imagens" src="../publico/imagens/visaa-removebg-preview (1).png"  alt="visa">
            </div>

            <div  class="margin-box-pagamentos">
                <img class="footer-imagens" src="../publico/imagens/elo-removebg-preview.png"  alt="elo">
                <img class="footer-imagens" src="../publico/imagens/american-express-removebg-preview (1).png"  alt="american">
            </div>


        </div>

    </footer>


</body>


</html>